<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kpos7.Foodies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogInScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SellerBuyerSelectionScreen">
            <intent-filter>
                <action android:name="android.intent.action.SellerBuyerSelection" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainVendorScreen"
            android:parentActivityName=".SellerBuyerSelectionScreen"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kpos7.Foodies.SellerBuyerSelectionScreen" />
        </activity>
        <activity
            android:name=".MainCustomerScreen"
            android:parentActivityName=".SellerBuyerSelectionScreen"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kpos7.Foodies.SellerBuyerSelectionScreen" />
        </activity>
        <activity
            android:name=".DisplayOrders"
            android:parentActivityName=".MainVendorScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kpos7.Foodies.MainVendorScreen" />
        </activity>
        <activity
            android:name=".EditDisplayMenu"
            android:parentActivityName=".MainVendorScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kpos7.Foodies.MainVendorScreen" />
        </activity>
        <activity
            android:name=".EditDisplayLocation"
            android:parentActivityName=".MainVendorScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kpos7.Foodies.MainVendorScreen" />
        </activity>
        <activity
            android:name=".DisplayReviewRatings"
            android:parentActivityName=".MainVendorScreen"
            tools:targetApi="jelly_bean">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kpos7.Foodies.MainVendorScreen" />
        </activity>
        <activity android:name=".Profile">
            <intent-filter>
                <action android:name="com.example.kpos7.loginscreen.Profile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings">
            <intent-filter>
                <action android:name="com.example.kpos7.loginscreen.settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Order">
            <intent-filter>
                <action android:name="com.example.kpos7.loginscreen.order" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Food_truck_1">
            <intent-filter>
                <action android:name="com.example.kpos7.loginscreen.Food_truck_1" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecipeDetailActivity">
            <intent-filter>
                <action android:name="com.example.kpos7.loginscreen.RecipeDetailActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>